*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --purple: #a425ee; 
    --purple-light: #b25ae6;
    --blue: #25a4ee;
}

html { 
    height: 100%;
}

body {
    background-image: linear-gradient(120deg, var(--blue),var(--purple));
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-repeat: white;
}

form button {
    color: var(--purple-light);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: var(--purple-light);
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    transition: all 0.25s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .completed-btn{
    background: var(--purple-light);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.completed-btn {
    background: var(--blue);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
 